# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS / macOS
**/ios/Flutter/.last_build_id
**/DerivedData/
Pods/
.symlinks/

# Misc
.DS_Store
*.log
